@import "tailwindcss";

.welcome-pg::-webkit-scrollbar {
  display: none;
}

.text-area::-webkit-scrollbar {
  width: 6px;
}

.text-area::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.text-area::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}

.text-area::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.chat-Section::-webkit-scrollbar {
    width: 8px;
  }

  .chat-Section::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
  }

  .chat-Section::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 3px;
  }

  .chat-Section::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }


@media screen and (max-width: 640px) {
  .chat-Section::-webkit-scrollbar {
    display: none;
  }
}
